*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT CLASSES */

.background{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lg-container{
    max-width: 1200px;
    margin: 0 auto;
}

.sm-container{
    max-width: 990px;
    margin: 0 auto;
}

.col-33{
    width: calc(100% / 3);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

/* END LAYOUT CLASSES */


/* UTILITY CLASSES */

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.height-70{
    height: 70px;
}

.height-50{
    height: 50px;
}

.height-200{
    height: 200px;
}

.height-300{
    height: 300px;
}

.height-500{
    height: 500px;
}

.height-2300{
    height: 2300px;
}

.mg-10{
    margin: 10px 0;
}

.bg-red{
    background-color: red;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-green{
    background-color: green;
}

.bg-gold{
    background-color: gold;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-pink{
    background-color: pink;
}

/* END UTILITY CLASSES */