*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT CLASSES */

.background{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lg-container{
    max-width: 1200px;
    margin: 0 auto;
}

.sm-container{
    max-width: 990px;
    margin: 0 auto;
}

.col-20{
    width: 20%;
}

.col-33{
    width: calc(100% / 3);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

/* END LAYOUT CLASSES */


/* UTILITY CLASSES */

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-right{
    justify-content: right;
}

.align-center{
    align-items: center;
}

.text-right{
    text-align: right;
}

.height-70{
    height: 70px;
}

.height-50{
    height: 50px;
}

.height-100{
    height: 100px;
}

.height-120{
    height: 120px;
}

.height-150{
    height: 150px;
}

.height-200{
    height: 200px;
}

.height-300{
    height: 300px;
}

.height-320{
    height: 320px;
}

.height-500{
    height: 500px;
}

.height-2300{
    height: 2300px;
}

.mg-10{
    margin: 10px 0;
}

.pd-25{
    padding: 25px;
}

.bg-red{
    background-color: red;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-green{
    background-color: green;
}

.bg-gold{
    background-color: gold;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-pink{
    background-color: pink;
}

.bg-black{
    background-color: black;
}

/* END UTILITY CLASSES */

ul{
    list-style-type: none;
}

.header-list li{
    display: inline;
    padding: 0 22px;
    font-size: 20px;
}

.logo{
    width: 200px;
    margin-right: 10px;
}

.btn{
    padding: 10px 20px;
    font-size: 24px;
    border: none;
}

.btn-blue{
    background-color: rgb(57, 57, 255);
    color: white;
}