*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT CLASSES */

.container{
    width: 100%;
}

.container-gap{
    column-gap: 20px;
}

.lg-container{
    max-width: 1400px;
    margin: 0 auto;
}

.sm-container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-33{
    width: calc(100% / 3 - 20px);
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-90{
    width: 90%;
}

.col-100{
    width: 100%;
}

.square{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.sm-square{
    width: 50%;
    height: 50%;
}

.xsm-square{
    width: 90%;
    height: 90%;
}

/* END LAYOUT CLASSES */


/* UTILITY CLASSES */

.d-flex{
    display: flex;
}

.d-wrap{
    flex-wrap: wrap;
}

.d-block{
    display: block;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-right{
    justify-content: right;
}

.align-center{
    align-items: center;
}

.text-right{
    text-align: right;
}

.ps-relative{
    position: relative;
}

.centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mg-bottom-30{
    margin-bottom: 30px;
}

.mg-y-30{
    margin: 30px 0;
}

.mg-y-50{
    margin: 50px 0;
}

.mg-top-40{
    margin-top: 40px;
}

.mg-top-150{
    margin-top: 150px;
}

.mg-y-150{
    margin: 150px 0;
}

.pd-25{
    padding: 25px;
}

.pd-y-30{
    padding: 30px 0;
}

.pd-y-40{
    padding: 40px 0;
}

.pd-50{
    padding: 50px;
}

.pd-y-100{
    padding: 100px 0;
}

.pd-bottom-100{
    padding-bottom: 100px;
}

.pd-y-150{
    padding: 150px 0;
}

.font-20{
    font-size: 20px;
}

.bg-red{
    background-color: rgb(255,28,28);
}

.bg-darkred{
    background-color: rgb(213,0,31);
}

.bg-lightskyblue{
    background-color: rgb(180,208,231);
}

.bg-lightgreen{
    background-color: rgb(209,233,205);
}

.bg-green{
    background-color: rgb(162,211,155);
}

.bg-gold{
    background-color: rgb(255,216,48);
}

.bg-lightblue{
    background-color: rgb(0,147,206);
}

.bg-blue{
    background-color: rgb(13,36,129);
}

.bg-brown{
    background-color: rgb(97,8,43);
}

.bg-black{
    background-color: black;
}

.gray{
    color: gray;
}

.white{
    color: white;
}

/* END UTILITY CLASSES */

ul{
    list-style-type: none;
}

header li{
    display: inline;
    font-size: 23px;
    padding: 0 22px;
    color: rgb(49, 49, 49);
}

.logo{
    width: 200px;
    margin-right: 10px;
}

.btn{
    padding: 15px 30px;
    font-size: 24px;
    border: none;
}

.btn-card{
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    border: none;
}

.btn-blue{
    background-color: rgb(0, 97, 255);
    color: white;
}

.btn-white{
    color: black;
    border: 1px solid black;
}

h1{
    font-size: 70px;
    font-weight: 800;
}

p, span{
    font-size: 22px;
    line-height: 30px;
}

.p-sec-40, .btn-sec-40{
    margin-bottom: 35px;
}

img{
    width: 100%;
}

.img-jumbo{
    position: absolute;
    bottom: -65px;
}

.fa-arrow-down{
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 15px;
}

h2{
    font-size: 44px;
}

label{
    font-size: 20px;
    padding-right: 30px;
}

input[type="radio"]{
    transform: scale(1.5);
    width: 25px;
}

.card{
    border: 1px solid gray;
}

.card-top, .card-bottom{
    padding: 25px;
}

.fa-user, .fa-users, .fa-folder, .fa-share-nodes, .fa-building, .fa-check{
    padding-top: 5px;
    padding-right: 10px;
    font-size: 20px;
}

.min-height{
    min-height: 1300px;
}

.card-top p{
    text-align: center;
    padding: 10px 0;
}

hr{
    border-color: rgb(182,182,182);
}

h4{
    font-size: 32px;
}

.cost{
    padding: 15px 0 10px 0;
}

.card-bottom ul li{
    padding: 10px 0;
}

.link{
    display: inline-block;
    padding: 30px 0 40px 0;
}

.small{
    width: 20%;
}

h6{
    margin-top: 50px;
    font-size: 28px;
}

.fa-check{
    color: rgb(0, 97, 255);
}

.ps-relative button{
    position: absolute;
    top: 30px;
    right: 30px;
}

.operations-title{
    margin: 10px 0 30px 0;
}

.square > img{
    width: 50%;
}

.h2-free-trial{
    color: rgb(97,8,44);
    font-size: 48px;
}

.faq-title{
    padding: 60px 0;
    margin-top: 20px;
}

ul > .row{
    border-bottom: 2px solid rgb(182,182,182);
}

ul > .row:first-child{
    border-top: 2px solid rgb(182,182,182);
}

.footer-list li:first-child{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer-list li{
    padding: 10px 0;
}

.img-square{
    width: 60%;
    filter: invert(1);
}
